#gui-wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  height: auto;

  display: grid;
  row-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  grid-auto-columns: 300px;
  place-items: stretch;

  padding: 10px;
  background: var(--bg-main);
}

.gui-section {
  display: grid;
  grid-template-rows: 1fr;
}

.gui-section-title {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  cursor: pointer;
  user-select: none;
}

.gui-section-body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  row-gap: 7.5px;
  max-height: auto;
  margin-top: 15px;
}

.gui-section-body--hidden {
  max-height: 0;
  overflow: hidden;
  margin-top: 0px;
}

#gui-wrapper > div {
  background: var(--bg-secondary);
  padding: 10px;
}

.gui-section-title h3 {
  grid-column: 2;
  text-align: center;
  color: var(--text-main);
}

.gui-section-title svg {
  grid-column: 3;
  height: 100%;
  fill: var(--icon);
  width: 50%;
  justify-self: end;

  display: flex;
}

.gui-section-title path {
  height: 100%;
}
