.gui-slider {
  display: grid;
  grid-template: 1fr 1.25fr / 5fr 2fr;
  place-items: center;
  gap: 5px;
}

.gui-slider label {
  grid-column: 1 / span 2;
  justify-self: start;
}

.gui-slider input[type="text"] {
  width: 100%;
  height: 100%;
}

input[type="range"] {
  width: 100px;
  height: 10px;
}